A Deployment Notebook to demonstrate LSTM model build for prediction Next-Hour METAR data

In [ ]:
# Load Models for the critical parameters.

In [1]:
import sys
package_path = '/home/Lakehouse/DreamBrookPy'
if package_path not in sys.path:
    sys.path.append(package_path)
import DreamBrookPy.MachineLearning as ML
import DreamBrookPy.DataChef as DC

2024-02-18 08:24:43.181014: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [ ]:
# Load 10 instance and test next step prediction based on the given data

In [79]:


# Suppress specific TensorFlow warning
warnings.filterwarnings('ignore', category=UserWarning, module='tensorflow')

In [195]:
# Suppress all future & user warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [21]:
import importlib

In [340]:
import importlib
importlib.reload(ML)
importlib.reload(DC)

In [ ]:
# Load 10 instance and test next step prediction based on the given data

In [5]:
import os
import glob
import pickle
import pandas as pd
import matplotlib
import numpy as np

In [9]:
def load_data_folder(folder_name):
    # Specify the directory to search for .pkl files
    directory_path = f'/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/{folder_name}'
    
    # Use glob to find all .pkl files in the directory
    pkl_files = glob.glob(os.path.join(directory_path, '*.pkl'))
    
    # Extract just the names of the files, without the full path
    file_holder = [os.path.basename(file) for file in pkl_files]
    return file_holder

In [313]:
# Get list of files available on result folders

# Specify the directory to search for .pkl files
directory_path = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/unsorted'

# Use glob to find all .pkl files in the directory
pkl_files = glob.glob(os.path.join(directory_path, '*.pkl'))

# Extract just the names of the files, without the full path
file_names = [os.path.basename(file) for file in pkl_files]
folder_list = ['unsorted','wind','windvar','cloud', 'visibility', 'temperature', 'dew', 'air_pressure']
file_dict={}
for f, fi in zip (folder_list, file_names):
     file_items = load_data_folder(f)
     file_dict.update({f:file_items})

In [17]:
folder_list = ['cloud']
file_dict_cloud={}
for f, fi in zip (folder_list, file_names):
     file_items = load_data_folder(f)
     file_dict_cloud.update({f:file_items})

In [19]:
# Dataset_1 : For initialization of analysis 
def dataset_loader(filedir,dataset_list):
    """
    Load a datalist
    """
    loaded_dataset={}
    for d in dataset_list :
        filepath = f'{filedir}/{d}'
        data_name = d[:-4]#
        with open(filepath, 'rb') as file:
            dataset = pickle.load(file)
        new_data = {data_name: dataset}
        loaded_dataset.update(new_data)
    return loaded_dataset

In [6]:
def get_MAE(d):
    y_test = np.array(d['dataset_test'][0])
    y_pred = d['y_pred_scaled']
    mae = mean_absolute_error(y_test, y_pred)
    #print(f"Mean Absolute Error (MAE): {mae}")
    return mae


def get_RMSE_dict(dataset):
    data_list = list(dataset.keys())
    data_dict = {}
    for a in data_list : 
        try:
            rmse = dataset[a]['rmse']
            new_data = {a:rmse}
            data_dict.update(new_data)
        except Exception as e:
            print(f'error : {e}')
    sorted_items = sorted(data_dict.items(), key=lambda item: item[1])
    sorted_dict = dict(sorted_items)
    return sorted_dict

def get_MAE_dict(dataset):
    data_list = list(dataset.keys())
    MAE_dict = {}
    for a in data_list:
        d = dataset[a]
        #print(d.keys())
        b = get_MAE(d)
        new_data = {a:b}
        MAE_dict.update(new_data)
    my_dict = MAE_dict
    sorted_items = sorted(my_dict.items(), key=lambda item: item[1])
    sorted_MAE_dict = dict(sorted_items)
    return sorted_MAE_dict

## Wind Dataset

In [36]:
filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/wind'
dataset_list = file_dict['wind']
dataset_wind = dataset_loader(filedir,dataset_list)
dataset = dataset_wind
wind_rmse = ML.get_RMSE_dict(dataset)
wind_mae = ML.get_MAE_dict(dataset)

In [37]:
wind_rmse

{'wind_speed_set1_w6_b8_d2_rate0.2_unit50': 2.192938998988332,
 'wind_speed_set1_w6_b8_d2_rate0.3_unit50': 2.2218287161071033,
 'wind_speed_set1_w6_b8_d3_rate0.3_unit50': 2.227172036831865,
 'wind_speed_set1_w6_b8_d2_rate0.2_unit80': 2.2290819589072557,
 'wind_speed_set1_w6_b8_d2_rate0.1_unit50': 2.2339379206942054,
 'wind_speed_set1_w6_b8_d3_rate0.3_unit80': 2.244841467712777,
 'wind_speed_set1_w6_b8_d4_rate0.2_unit50': 2.254621655495665,
 'wind_speed_set1_w6_b8_d3_rate0.2_unit80': 2.27706723350448,
 'wind_speed_set1_w6_b8_d3_rate0.2_unit50': 2.3023778343173804,
 'wind_speed_set1_w6_b8_d4_rate0.1_unit50': 2.3031767795363827,
 'wind_speed_set1_w6_b8_d3_rate0.1_unit50': 2.3220883062115907,
 'wind_set4_w6_b16_d2_rate0.2_unit80_train1000': 2.325451254922288,
 'wind_speed_set1_w6_b8_d3_rate0.1_unit80': 2.3299548944926096,
 'wind_speed_set1_w6_b8_d2_rate0.3_unit80': 2.3354143643224914,
 'wind_speed_set1_w6_b8_d2_rate0.1_unit80': 2.3442848770856486,
 'wind_speed_set1_w6_b8_d4_rate0.2_unit80': 2.3553000922954914,
 'wind_set5_w96_b16_d3_rate0.2_unit50_train5000': 2.3629456667999165,
 'wind_set4_w6_b16_d2_rate0.2_unit80_train2000': 2.370395681292218,
 'wind_speed_set1_w6_b8_d4_rate0.1_unit80': 2.5082677884140043,
 'wind_set4_w6_b16_d2_rate0.2_unit80_train5000': 2.5937557030821368,
 'wind_degree_set1_w6_b16_d4_rate0.2_unit50': 68.03676197242312,
 'wind_degree_set1_w6_b8_d3_rate0.3_unit50': 68.71463272417257,
 'wind_degree_set1_w6_b16_d2_rate0.3_unit80': 68.86001470008584,
 'wind_degree_set1_w6_b16_d4_rate0.3_unit80': 69.0222337614282,
 'wind_degree_set1_w6_b16_d2_rate0.1_unit50': 69.35095939927601,
 'wind_degree_set1_w6_b8_d2_rate0.2_unit50': 69.35404244053579,
 'wind_degree_set1_w6_b16_d3_rate0.1_unit50': 69.59721543108768,
 'wind_degree_set1_w6_b8_d4_rate0.3_unit50': 69.67431796957989,
 'wind_degree_set1_w6_b16_d3_rate0.2_unit80': 69.68367953722084,
 'wind_degree_set1_w6_b8_d4_rate0.3_unit80': 69.77515511832097,
 'wind_degree_set1_w6_b8_d2_rate0.3_unit50': 69.85928741630535,
 'wind_degree_set1_w6_b16_d3_rate0.3_unit50': 69.8601962933166,
 'wind_degree_set1_w6_b16_d4_rate0.1_unit50': 69.89746146122643,
 'wind_degree_set1_w6_b8_d4_rate0.1_unit50': 69.9613901671764,
 'wind_degree_set1_w6_b8_d3_rate0.2_unit80': 70.17716932096263,
 'wind_degree_set1_w6_b16_d4_rate0.2_unit80': 70.17886951498289,
 'wind_degree_set1_w6_b16_d2_rate0.2_unit80': 70.22137726566898,
 'wind_degree_set1_w6_b8_d2_rate0.2_unit80': 70.40917391406218,
 'wind_degree_set1_w6_b16_d3_rate0.2_unit50': 70.42466739635304,
 'wind_degree_set1_w6_b16_d2_rate0.2_unit50': 70.56073041922865,
 'wind_degree_set1_w6_b8_d3_rate0.3_unit80': 70.86116960836196,
 'wind_degree_set1_w6_b8_d3_rate0.1_unit80': 70.88736642582253,
 'wind_degree_set1_w6_b8_d2_rate0.3_unit80': 70.98554788883132,
 'wind_degree_set1_w6_b8_d2_rate0.1_unit50': 71.02345843974483,
 'wind_degree_set1_w6_b16_d3_rate0.1_unit80': 71.10831670184207,
 'wind_degree_set1_w6_b8_d3_rate0.1_unit50': 71.17223086809169,
 'wind_degree_set1_w6_b16_d4_rate0.3_unit50': 71.17254724172471,
 'wind_degree_set1_w6_b16_d2_rate0.1_unit80': 71.43196816557814,
 'wind_degree_set1_w6_b8_d3_rate0.2_unit50': 71.86466373421752,
 'wind_degree_set1_w6_b8_d4_rate0.2_unit50': 72.04671341894372,
 'wind_degree_set1_w6_b32_d2_rate0.1_unit50': 72.17648030081105,
 'wind_degree_set1_w6_b8_d4_rate0.2_unit80': 72.1858054038576,
 'wind_degree_set1_w6_b8_d2_rate0.1_unit80': 72.27788288763168,
 'wind_degree_set1_w6_b16_d2_rate0.3_unit50': 72.33621917619622,
 'wind_degree_set1_w6_b16_d3_rate0.3_unit80': 72.64289862551419,
 'wind_degree_set1_w6_b16_d4_rate0.1_unit80': 72.70711952194524,
 'wind_degree_set1_w6_b8_d4_rate0.1_unit80': 73.77226228667428}

In [ ]:
## Visibility Dataset

In [319]:
filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/visibility'
dataset_list = file_dict['visibility']
dataset_vis = DC.dataset_loader(filedir,dataset_list)

dataset = dataset_vis
vis_rmse = ML.get_RMSE_dict(dataset)
vis_mae = ML.get_MAE_dict(dataset)

In [320]:
vis_rmse

{'visibility_set4_w6_b16_d2_rate0.2_unit80_train1000': 0.40592976038151773,
 'visibility_set4_w6_b16_d2_rate0.2_unit80_train2000': 0.4636104156680498,
 'visibility_set4_w6_b16_d2_rate0.2_unit80_train5000': 1.0906546204555834,
 'visibility_set5_w24_b32_d2_rate0.3_unit50_train5000': 1.0987917817220978,
 'visibility_set5_w12_b32_d2_rate0.3_unit50_train5000': 1.106713404407343,
 'visibility_set5_w96_b16_d3_rate0.2_unit50_train5000': 1.117430963743181}

In [ ]:
## Temperature Dataset

In [34]:
filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/temperature'
dataset_list = file_dict['temperature']
dataset_temp = DC.dataset_loader(filedir,dataset_list)

dataset = dataset_temp
temp_rmse = ML.get_RMSE_dict(dataset)
temp_mae = ML.get_MAE_dict(dataset)

In [108]:
temp_rmse

{'temperature_set4_w6_b16_d2_rate0.2_unit80_train2000': 0.9326680303998253,
 'temperature_set4_w6_b16_d2_rate0.2_unit80_train1000': 0.9970663995516075,
 'temperature_set5_w96_b16_d3_rate0.2_unit50_train5000': 1.1454548541671175,
 'temperature_set4_w6_b16_d2_rate0.2_unit80_train5000': 1.179716765055975}

In [109]:
temp_mae

{'temperature_set4_w6_b16_d2_rate0.2_unit80_train1000': 43.81076763153076,
 'temperature_set4_w6_b16_d2_rate0.2_unit80_train5000': 43.81076763153076,
 'temperature_set5_w96_b16_d3_rate0.2_unit50_train5000': 43.81076763153076,
 'temperature_set4_w6_b16_d2_rate0.2_unit80_train2000': 43.81076763153076}

In [ ]:
## Dew Dataset

In [58]:
filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/dew'
dataset_list = file_dict['dew']
dataset_dew = dataset_loader(filedir,dataset_list)

dataset = dataset_dew
dew_rmse = ML.get_RMSE_dict(dataset)
dew_mae = ML.get_MAE_dict(dataset)

In [59]:
dew_rmse

{'dew_set4_w6_b16_d2_rate0.2_unit80_train5000': 0.6897241986299173,
 'dew_set5_w96_b16_d3_rate0.2_unit50_train5000': 0.9174853723139939,
 'dew_set1_w6_b8_d2_rate0.2_unit50': 0.9942979826253485,
 'dew_set1_w6_b8_d2_rate0.1_unit50': 1.0043114457860005,
 'dew_set1_w6_b8_d4_rate0.1_unit50': 1.0076055264235062,
 'dew_set1_w6_b8_d2_rate0.2_unit80': 1.0263792045233116,
 'dew_set1_w6_b16_d2_rate0.1_unit80': 1.0306552202864998,
 'dew_set1_w6_b8_d3_rate0.3_unit80': 1.0412978757483127,
 'dew_set1_w6_b8_d3_rate0.1_unit50': 1.0504378144769453,
 'dew_set1_w6_b8_d4_rate0.3_unit50': 1.0543438885253402,
 'dew_set1_w6_b8_d2_rate0.1_unit80': 1.0638906587829546,
 'dew_set4_w6_b16_d2_rate0.2_unit80_train1000': 1.07413757792794,
 'dew_set1_w6_b8_d4_rate0.2_unit50': 1.0748138024241287,
 'dew_set1_w6_b8_d3_rate0.1_unit80': 1.0804253545505114,
 'dew_set1_w6_b8_d2_rate0.3_unit50': 1.0894438674222577,
 'dew_set1_w6_b8_d2_rate0.3_unit80': 1.1445460771318539,
 'dew_set1_w6_b8_d4_rate0.2_unit80': 1.1831544506371663,
 'dew_set1_w6_b8_d4_rate0.3_unit80': 1.2158080364465174,
 'dew_set1_w6_b8_d3_rate0.2_unit50': 1.231561050580462,
 'dew_set1_w6_b8_d4_rate0.1_unit80': 1.27431570995358,
 'dew_set1_w6_b8_d3_rate0.3_unit50': 1.306933062807356,
 'dew_set1_w6_b8_d3_rate0.2_unit80': 1.3510234710918283,
 'dew_set1_w6_b16_d2_rate0.1_unit50': 1.3565706662279016,
 'dew_set4_w6_b16_d2_rate0.2_unit80_train2000': 1.3922016081972128}

In [60]:
dew_mae

{'dew_set4_w6_b16_d2_rate0.2_unit80_train5000': 0.516375789642334,
 'dew_set1_w6_b8_d2_rate0.2_unit50': 0.60931566208601,
 'dew_set1_w6_b8_d2_rate0.1_unit50': 0.6242270429432392,
 'dew_set1_w6_b16_d2_rate0.1_unit80': 0.6555745244026184,
 'dew_set1_w6_b8_d4_rate0.1_unit50': 0.6662476743757725,
 'dew_set1_w6_b8_d2_rate0.2_unit80': 0.6840186321735382,
 'dew_set1_w6_b8_d3_rate0.3_unit80': 0.701245185136795,
 'dew_set1_w6_b8_d3_rate0.1_unit50': 0.7040140500664711,
 'dew_set1_w6_b8_d4_rate0.3_unit50': 0.7192715328931808,
 'dew_set1_w6_b8_d2_rate0.1_unit80': 0.727573319375515,
 'dew_set1_w6_b8_d4_rate0.2_unit50': 0.7400786793231964,
 'dew_set1_w6_b8_d2_rate0.3_unit50': 0.7412334156036376,
 'dew_set4_w6_b16_d2_rate0.2_unit80_train1000': 0.7469110210239888,
 'dew_set1_w6_b8_d3_rate0.1_unit80': 0.7547264702618122,
 'dew_set5_w96_b16_d3_rate0.2_unit50_train5000': 0.7741246604919434,
 'dew_set1_w6_b8_d4_rate0.2_unit80': 0.8050104263424873,
 'dew_set1_w6_b8_d2_rate0.3_unit80': 0.8340313023328781,
 'dew_set1_w6_b8_d4_rate0.3_unit80': 0.879682295024395,
 'dew_set4_w6_b16_d2_rate0.2_unit80_train2000': 0.8926393961906434,
 'dew_set1_w6_b8_d4_rate0.1_unit80': 0.9311831700801849,
 'dew_set1_w6_b8_d3_rate0.2_unit50': 0.9475648310780526,
 'dew_set1_w6_b8_d3_rate0.3_unit50': 0.956154562830925,
 'dew_set1_w6_b8_d3_rate0.2_unit80': 1.0450573766231537,
 'dew_set1_w6_b16_d2_rate0.1_unit50': 1.0964020247757436}

In [ ]:
## Air Pressure Dataset

In [31]:
filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/air_pressure'
dataset_list = file_dict['air_pressure']
dataset_air = dataset_loader(filedir,dataset_list)

dataset = dataset_air
air_rmse = ML.get_RMSE_dict(dataset)
air_mae = ML.get_MAE_dict(dataset)

In [200]:
air_rmse

{'air_pressure_set4_w6_b16_d2_rate0.2_unit80_train5000': 0.677155448867923,
 'air_pressure_set4_w6_b16_d2_rate0.2_unit80_train1000': 0.694693009928574,
 'air_pressure_set1_w6_b32_d2_rate0.2_unit50': 0.7153766424179637,
 'air_pressure_set1_w6_b16_d2_rate0.2_unit80': 0.7199319731138147,
 'air_pressure_set1_w6_b32_d2_rate0.1_unit80': 0.7225059787217637,
 'air_pressure_set1_w6_b16_d2_rate0.2_unit50': 0.7250608794393623,
 'air_pressure_set1_w6_b32_d2_rate0.3_unit80': 0.7337035315608528,
 'air_pressure_set1_w6_b16_d2_rate0.1_unit80': 0.7378391049348397,
 'air_pressure_set1_w6_b8_d2_rate0.3_unit80': 0.7430455053480486,
 'air_pressure_set1_w6_b16_d3_rate0.1_unit50': 0.7513244184394855,
 'air_pressure_set4_w6_b16_d2_rate0.2_unit80_train2000': 0.7515904765116687,
 'air_pressure_set1_w6_b8_d4_rate0.2_unit80': 0.7571366298778043,
 'air_pressure_set1_w6_b32_d2_rate0.2_unit80': 0.7589438269906583,
 'air_pressure_set1_w6_b32_d2_rate0.1_unit50': 0.7591917264203143,
 'air_pressure_set1_w6_b16_d3_rate0.2_unit50': 0.759541615973762,
 'air_pressure_set1_w6_b8_d2_rate0.1_unit80': 0.7614301460618518,
 'air_pressure_set1_w6_b16_d4_rate0.1_unit80': 0.7614494300487902,
 'air_pressure_set1_w6_b16_d3_rate0.2_unit80': 0.7650184216489212,
 'air_pressure_set1_w6_b32_d4_rate0.2_unit80': 0.7680812697964016,
 'air_pressure_set1_w6_b8_d4_rate0.2_unit50': 0.7684517072468219,
 'air_pressure_set1_w6_b32_d4_rate0.1_unit50': 0.7701112311604758,
 'air_pressure_set1_w6_b8_d4_rate0.1_unit80': 0.7730917057658496,
 'air_pressure_set1_w6_b8_d3_rate0.2_unit80': 0.7822694193068825,
 'air_pressure_set1_w6_b32_d2_rate0.3_unit50': 0.7883822713321998,
 'air_pressure_set1_w6_b32_d4_rate0.2_unit50': 0.792852596716059,
 'air_pressure_set1_w6_b32_d3_rate0.2_unit80': 0.7982219145113654,
 'air_pressure_set1_w6_b8_d2_rate0.2_unit80': 0.8063450210461701,
 'air_pressure_set1_w6_b32_d3_rate0.3_unit50': 0.80703965704999,
 'air_pressure_set1_w6_b8_d3_rate0.1_unit80': 0.8094362189502062,
 'air_pressure_set1_w6_b16_d4_rate0.2_unit80': 0.8107901550260833,
 'air_pressure_set1_w6_b16_d2_rate0.1_unit50': 0.8135934189030564,
 'air_pressure_set1_w6_b16_d2_rate0.3_unit80': 0.8169775832027026,
 'air_pressure_set1_w6_b16_d3_rate0.3_unit80': 0.8350631457117628,
 'air_pressure_set1_w6_b32_d3_rate0.1_unit50': 0.8398299256007576,
 'air_pressure_set1_w6_b32_d3_rate0.3_unit80': 0.8412314674417746,
 'air_pressure_set1_w6_b16_d4_rate0.3_unit80': 0.8555074089821477,
 'air_pressure_set1_w6_b16_d3_rate0.3_unit50': 0.8596093275338347,
 'air_pressure_set1_w6_b32_d3_rate0.2_unit50': 0.859657318862214,
 'air_pressure_set1_w6_b16_d2_rate0.3_unit50': 0.8604979587211362,
 'air_pressure_set1_w6_b8_d3_rate0.1_unit50': 0.8640699479185641,
 'air_pressure_set1_w6_b32_d3_rate0.1_unit80': 0.8723008001920868,
 'air_pressure_set1_w6_b8_d3_rate0.2_unit50': 0.8751976080087338,
 'air_pressure_set1_w6_b16_d4_rate0.2_unit50': 0.8790147341851803,
 'air_pressure_set1_w6_b8_d4_rate0.3_unit50': 0.890972669235782,
 'air_pressure_set1_w6_b8_d2_rate0.2_unit50': 0.9114297264673428,
 'air_pressure_set1_w6_b16_d4_rate0.3_unit50': 0.914079709624627,
 'air_pressure_set1_w6_b8_d2_rate0.3_unit50': 0.9259854525787263,
 'air_pressure_set1_w6_b16_d4_rate0.1_unit50': 0.9294950373967217,
 'air_pressure_set1_w6_b8_d4_rate0.1_unit50': 0.9394533076454668,
 'air_pressure_set1_w6_b8_d3_rate0.3_unit80': 0.9403294277125407,
 'air_pressure_set1_w6_b32_d4_rate0.3_unit50': 0.9607083438252415,
 'air_pressure_set1_w6_b8_d4_rate0.3_unit80': 0.9610788793960746,
 'air_pressure_set1_w6_b16_d3_rate0.1_unit80': 0.9862949351779089,
 'air_pressure_set1_w6_b8_d2_rate0.1_unit50': 0.9964369464718071,
 'air_pressure_set1_w6_b32_d4_rate0.1_unit80': 1.006188823875758,
 'air_pressure_set1_w6_b8_d3_rate0.3_unit50': 1.0738653000054637}

In [201]:
air_mae

{'air_pressure_set4_w6_b16_d2_rate0.2_unit80_train5000': 0.49300689697265626,
 'air_pressure_set1_w6_b32_d2_rate0.2_unit50': 0.5441607666015625,
 'air_pressure_set4_w6_b16_d2_rate0.2_unit80_train1000': 0.5455215454101563,
 'air_pressure_set1_w6_b16_d2_rate0.2_unit80': 0.550858154296875,
 'air_pressure_set1_w6_b16_d2_rate0.2_unit50': 0.5529122924804688,
 'air_pressure_set1_w6_b32_d2_rate0.3_unit80': 0.561246337890625,
 'air_pressure_set1_w6_b32_d2_rate0.1_unit80': 0.5639376831054688,
 'air_pressure_set1_w6_b8_d4_rate0.2_unit80': 0.5685858154296874,
 'air_pressure_set1_w6_b16_d4_rate0.1_unit80': 0.570765380859375,
 'air_pressure_set1_w6_b16_d3_rate0.2_unit80': 0.5738150024414063,
 'air_pressure_set1_w6_b32_d4_rate0.2_unit80': 0.5739202880859375,
 'air_pressure_set1_w6_b32_d4_rate0.1_unit50': 0.57640380859375,
 'air_pressure_set1_w6_b8_d4_rate0.1_unit80': 0.57904541015625,
 'air_pressure_set1_w6_b16_d3_rate0.1_unit50': 0.5790643310546875,
 'air_pressure_set1_w6_b8_d2_rate0.1_unit80': 0.5814822387695312,
 'air_pressure_set1_w6_b32_d2_rate0.1_unit50': 0.581785888671875,
 'air_pressure_set1_w6_b32_d2_rate0.2_unit80': 0.5822842407226563,
 'air_pressure_set1_w6_b32_d4_rate0.2_unit50': 0.5871392822265625,
 'air_pressure_set1_w6_b16_d2_rate0.1_unit80': 0.5905868530273437,
 'air_pressure_set1_w6_b32_d2_rate0.3_unit50': 0.59271728515625,
 'air_pressure_set1_w6_b8_d4_rate0.2_unit50': 0.5958596801757813,
 'air_pressure_set1_w6_b8_d3_rate0.2_unit80': 0.6005242919921875,
 'air_pressure_set4_w6_b16_d2_rate0.2_unit80_train2000': 0.601734619140625,
 'air_pressure_set1_w6_b16_d2_rate0.1_unit50': 0.6023855590820313,
 'air_pressure_set1_w6_b8_d2_rate0.2_unit80': 0.6035302734375,
 'air_pressure_set1_w6_b32_d3_rate0.3_unit50': 0.6045547485351562,
 'air_pressure_set1_w6_b8_d2_rate0.3_unit80': 0.6060995483398437,
 'air_pressure_set1_w6_b16_d2_rate0.3_unit80': 0.612733154296875,
 'air_pressure_set1_w6_b16_d3_rate0.2_unit50': 0.6128973388671874,
 'air_pressure_set1_w6_b8_d3_rate0.1_unit80': 0.6133642578125,
 'air_pressure_set1_w6_b32_d3_rate0.3_unit80': 0.61806884765625,
 'air_pressure_set1_w6_b16_d3_rate0.3_unit50': 0.6273846435546875,
 'air_pressure_set1_w6_b16_d2_rate0.3_unit50': 0.6299746704101562,
 'air_pressure_set1_w6_b16_d4_rate0.2_unit80': 0.63142822265625,
 'air_pressure_set1_w6_b32_d3_rate0.1_unit50': 0.633905029296875,
 'air_pressure_set1_w6_b32_d3_rate0.2_unit80': 0.63524169921875,
 'air_pressure_set1_w6_b8_d3_rate0.2_unit50': 0.6382406616210937,
 'air_pressure_set1_w6_b32_d3_rate0.2_unit50': 0.638443603515625,
 'air_pressure_set1_w6_b8_d3_rate0.1_unit50': 0.6389898681640624,
 'air_pressure_set1_w6_b16_d3_rate0.3_unit80': 0.6426126098632813,
 'air_pressure_set1_w6_b16_d4_rate0.2_unit50': 0.64570068359375,
 'air_pressure_set1_w6_b16_d4_rate0.3_unit80': 0.6528744506835937,
 'air_pressure_set1_w6_b16_d4_rate0.3_unit50': 0.6738458251953126,
 'air_pressure_set1_w6_b32_d3_rate0.1_unit80': 0.6771493530273438,
 'air_pressure_set1_w6_b8_d3_rate0.3_unit80': 0.6775775146484375,
 'air_pressure_set1_w6_b8_d2_rate0.3_unit50': 0.6874996948242188,
 'air_pressure_set1_w6_b8_d2_rate0.2_unit50': 0.689908447265625,
 'air_pressure_set1_w6_b8_d4_rate0.1_unit50': 0.6930596923828125,
 'air_pressure_set1_w6_b8_d4_rate0.3_unit50': 0.69407958984375,
 'air_pressure_set1_w6_b8_d4_rate0.3_unit80': 0.6962548828125,
 'air_pressure_set1_w6_b32_d4_rate0.3_unit50': 0.7023757934570313,
 'air_pressure_set1_w6_b16_d3_rate0.1_unit80': 0.7266351318359375,
 'air_pressure_set1_w6_b16_d4_rate0.1_unit50': 0.7305706787109375,
 'air_pressure_set1_w6_b8_d2_rate0.1_unit50': 0.7310940551757813,
 'air_pressure_set1_w6_b32_d4_rate0.1_unit80': 0.7457879638671875,
 'air_pressure_set1_w6_b8_d3_rate0.3_unit50': 0.7915225219726563}

In [314]:

filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/cloud'
dataset_list = file_dict_cloud['cloud']
dataset_cloud = dataset_loader(filedir,dataset_list)

dataset = dataset_cloud
cloud_rmse = ML.get_RMSE_dict(dataset)
cloud_mae = ML.get_MAE_dict(dataset)

In [315]:
cloud_mae

{'cloud_type_layer_1_set7_w6_b32_d2_rate0.3_unit50_train5000': 0.7097181707620621,
 'cloud_type_layer_1_set7_w12_b32_d2_rate0.3_unit50_train5000': 0.7314244121313095,
 'cloud_type_layer_1_set7_w24_b32_d2_rate0.3_unit50_train5000': 0.753132273554802,
 'cloud_type_layer_2_set7_w6_b32_d2_rate0.3_unit50_train5000': 1.2369160723686219,
 'cloud_type_layer_2_set7_w12_b32_d2_rate0.3_unit50_train5000': 1.3179137814044952,
 'cloud_type_layer_2_set7_w24_b32_d2_rate0.3_unit50_train5000': 1.3496126806735993,
 'cloud_type_layer_4_set7_w6_b32_d2_rate0.3_unit50_train5000': 1.3637556394189596,
 'cloud_type_layer_4_set7_w24_b32_d2_rate0.3_unit50_train5000': 1.4088873310387136,
 'cloud_type_layer_4_set7_w12_b32_d2_rate0.3_unit50_train5000': 1.4120010234415532,
 'cloud_type_layer_3_set7_w6_b32_d2_rate0.3_unit50_train5000': 1.8116329926252366,
 'cloud_type_layer_3_set7_w24_b32_d2_rate0.3_unit50_train5000': 1.8719291573762893,
 'cloud_type_layer_3_set7_w12_b32_d2_rate0.3_unit50_train5000': 1.9255793863534927,
 'cloud_set6_w6_b32_d2_rate0.2_unit50_train5000': 1790.079248046875,
 'cloud_set6_w6_b32_d2_rate0.2_unit50_train1000': 2146.493857421875,
 'cloud_layer_2_set6_w24_b32_d2_rate0.2_unit50_train5000': 2568.3005810546874,
 'cloud_layer_1_set6_w6_b32_d2_rate0.2_unit50_train5000': 2631.1611431884767,
 'cloud_layer_2_set6_w6_b32_d2_rate0.2_unit50_train5000': 2721.5254345703124,
 'cloud_layer_2_set6_w12_b32_d2_rate0.2_unit50_train5000': 2870.256474609375,
 'cloud_layer_3_set6_w12_b32_d2_rate0.2_unit50_train1000': 3026.749189453125,
 'cloud_layer_1_set6_w12_b32_d2_rate0.2_unit50_train5000': 3030.8256066894533,
 'cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train1000': 3111.171560058594,
 'cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train5000': 3134.0575036621094,
 'cloud_layer_2_set6_w24_b32_d2_rate0.2_unit50_train1000': 3224.392976074219,
 'cloud_layer_3_set6_w6_b32_d2_rate0.2_unit50_train1000': 3483.0812109375,
 'cloud_layer_1_set6_w6_b32_d2_rate0.2_unit50_train1000': 3525.0800122070314,
 'cloud_layer_1_set6_w12_b32_d2_rate0.2_unit50_train1000': 3852.894219970703,
 'cloud_layer_2_set6_w12_b32_d2_rate0.2_unit50_train1000': 3965.7693920898437,
 'cloud_layer_2_set6_w6_b32_d2_rate0.2_unit50_train1000': 4291.171696777344,
 'cloud_layer_3_set6_w6_b32_d2_rate0.2_unit50_train5000': 4293.09765625,
 'cloud_layer_3_set6_w12_b32_d2_rate0.2_unit50_train5000': 4399.802692871093}

In [312]:
# this is for cloud height 
cloud_rmse

{'cloud_type_layer_1_set7_w6_b32_d2_rate0.3_unit50_train5000': 1.104470420045334,
 'cloud_type_layer_1_set7_w12_b32_d2_rate0.3_unit50_train5000': 1.1102459914918696,
 'cloud_type_layer_1_set7_w24_b32_d2_rate0.3_unit50_train5000': 1.1183497808470595,
 'cloud_type_layer_2_set7_w6_b32_d2_rate0.3_unit50_train5000': 1.65922621886116,
 'cloud_type_layer_2_set7_w24_b32_d2_rate0.3_unit50_train5000': 1.6707852231328917,
 'cloud_type_layer_2_set7_w12_b32_d2_rate0.3_unit50_train5000': 1.690843439848054,
 'cloud_type_layer_4_set7_w12_b32_d2_rate0.3_unit50_train5000': 2.2139491767210413,
 'cloud_type_layer_4_set7_w6_b32_d2_rate0.3_unit50_train5000': 2.2221299314504663,
 'cloud_type_layer_4_set7_w24_b32_d2_rate0.3_unit50_train5000': 2.3064160667223113,
 'cloud_type_layer_3_set7_w6_b32_d2_rate0.3_unit50_train5000': 2.355095743047858,
 'cloud_type_layer_3_set7_w12_b32_d2_rate0.3_unit50_train5000': 2.4296656198365976,
 'cloud_type_layer_3_set7_w24_b32_d2_rate0.3_unit50_train5000': 2.4482231394197425,
 'cloud_set6_w6_b32_d2_rate0.2_unit50_train5000': 2663.3852497228804,
 'cloud_set6_w6_b32_d2_rate0.2_unit50_train1000': 3149.139139071865,
 'cloud_layer_3_set6_w12_b32_d2_rate0.2_unit50_train1000': 4332.327433118456,
 'cloud_layer_3_set6_w6_b32_d2_rate0.2_unit50_train1000': 4591.375067445942,
 'cloud_layer_2_set6_w24_b32_d2_rate0.2_unit50_train5000': 4649.801730974288,
 'cloud_layer_2_set6_w12_b32_d2_rate0.2_unit50_train5000': 4653.657011933264,
 'cloud_layer_2_set6_w6_b32_d2_rate0.2_unit50_train5000': 4707.469604336454,
 'cloud_layer_2_set6_w24_b32_d2_rate0.2_unit50_train1000': 5427.920578791155,
 'cloud_layer_2_set6_w12_b32_d2_rate0.2_unit50_train1000': 5595.959300252617,
 'cloud_layer_1_set6_w12_b32_d2_rate0.2_unit50_train5000': 5596.59501088754,
 'cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train5000': 5620.512658442985,
 'cloud_layer_1_set6_w6_b32_d2_rate0.2_unit50_train5000': 5623.654397861664,
 'cloud_layer_2_set6_w6_b32_d2_rate0.2_unit50_train1000': 5730.810781393541,
 'cloud_layer_1_set6_w6_b32_d2_rate0.2_unit50_train1000': 6065.673908572304,
 'cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train1000': 6124.3211456407835,
 'cloud_layer_1_set6_w12_b32_d2_rate0.2_unit50_train1000': 6159.212341521518,
 'cloud_layer_3_set6_w6_b32_d2_rate0.2_unit50_train5000': 6423.48476916006,
 'cloud_layer_3_set6_w12_b32_d2_rate0.2_unit50_train5000': 6430.859162650423}

In [241]:
cloud_mae

{'cloud_set6_w6_b32_d2_rate0.2_unit50_train5000': 1790.079248046875,
 'cloud_set6_w6_b32_d2_rate0.2_unit50_train1000': 2146.493857421875}

In [30]:
## Unsorted data

filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/unsorted'
dataset_list = file_dict['unsorted']
dataset_unsorted = dataset_loader(filedir,dataset_list)

dataset = dataset_unsorted
unsorted_rmse = ML.get_RMSE_dict(dataset)
unsorted_mae = ML.get_MAE_dict(dataset)

In [42]:
unsorted_rmse

{'air_pressure_set2_window48': 0.4973623135870196,
 'air_pressure_set3_window48': 0.5056746727783188,
 'air_pressure_set3_window24': 0.5194100960316627,
 'air_pressure_set2_window24': 0.5472576720063519,
 'air_pressure_set2_window12': 0.5616501600524271,
 'cloud_layers_set1_window6': 0.5801299585503853,
 'air_pressure_set3_window6': 0.5820390366795051,
 'cloud_layers_set1_window48': 0.5941094290621449,
 'air_pressure_set3_window12': 0.5943186045847993,
 'cloud_layers_set1_window24': 0.612490726888703,
 'air_pressure_set2_window6': 0.6127743278191036,
 'cloud_layers_no_scale_set1_window6': 0.612922782844743,
 'cloud_layers_no_scale_set1_window48': 0.6227720087489862,
 'air_pressure_set3_window3': 0.640848307273331,
 'air_pressure_set2_window3': 0.6471898499487151,
 'cloud_layers_set2_window48': 0.6811814233870612,
 'cloud_layers_set2_window24': 0.6842654957271912,
 'cloud_layers_set2_window6': 0.6952265014586436,
 'cloud_layers_set2_window12': 0.6981212439321843,
 'cloud_layers_set2_window3': 0.7051284032985138,
 'temperature_set2_window24': 0.742772122234348,
 'temperature_set2_window48': 0.7941519065141222,
 'air_pressure_set1_window6': 0.8053324741832935,
 'dew_set3_window6': 0.8106768733819676,
 'dew_set3_window3': 0.8233639816196774,
 'temperature_set2_window12': 0.8446047581473265,
 'temperature_set2_window6': 0.8667532627335847,
 'air_pressure_set1_window48': 0.8684207475757317,
 'temperature_set2_window3': 0.871395809145427,
 'cloud_layers_no_scale_set1_window24': 0.8990276489900342,
 'dew_set2_window3': 0.9033173279121494,
 'dew_set2_window12': 0.9118918923701463,
 'dew_set2_window48': 0.927360174381773,
 'dew_set2_window24': 0.9455004244320674,
 'temperature_set1_window24': 0.9515259059689001,
 'dew_set2_window6': 0.9520556136382974,
 'temperature_set1_window48': 0.9612924343205818,
 'temperature_set3_window6': 0.9878321271856696,
 'temperature_set1_window6': 1.0126029063540483,
 'dew_set1_window48': 1.1630195372442513,
 'air_pressure_set1_window24': 1.1635773920359305,
 'dew_set1_window6': 1.1791970013702648,
 'dew_set1_window24': 1.1842960582378965,
 'cloud_1_type_set2_window3': 1.593203993525063,
 'cloud_1_type_set2_window6': 1.6079377905082355,
 'cloud_1_type_set2_window12': 1.620442146314371,
 'cloud_1_type_set2_window24': 1.6327365948528096,
 'cloud_1_type_set2_window48': 1.6332281020028063,
 'wind_speed_set1_window6': 2.203355744734822,
 'wind_speed_set1_window24': 2.302106251826279,
 'wind_speed_set1_window48': 2.317597816363458,
 'wind_speed_set2_window24': 2.3328279461247785,
 'wind_speed_set2_window12': 2.33653590578641,
 'wind_speed_set2_window48': 2.359422116751772,
 'wind_speed_set2_window3': 2.3984588793044757,
 'wind_speed_set2_window6': 2.4211285216152043,
 'wind_degree_set1_window6': 70.95432877611718,
 'wind_degree_set1_window24': 72.00499351928386,
 'wind_degree_set2_window3': 72.1890778647719,
 'wind_degree_set2_window6': 72.90040792256194,
 'wind_degree_set1_window48': 74.97453549457393,
 'wind_degree_set2_window12': 77.13004096525682,
 'wind_degree_set2_window48': 85.68115686293626,
 'wind_degree_set2_window24': 90.49590068289133}

In [279]:
## Unsorted data

filedir = '/home/Lakehouse/Competition/Ocean_Metar_19Feb/results/windvar'
dataset_list = file_dict['windvar']
dataset_windvar = dataset_loader(filedir,dataset_list)

dataset = dataset_windvar
windvar_rmse = ML.get_RMSE_dict(dataset)
windvar_mae = ML.get_MAE_dict(dataset)

In [280]:
windvar_rmse

{'windvar_var_bool_wind_max_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 0.09974122993033002,
 'windvar_var_bool_wind_min_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 0.09974913272615392,
 'windvar_var_bool_wind_max_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 0.09988552277021033,
 'windvar_var_bool_wind_max_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 0.09994186592637985,
 'windvar_var_bool_wind_min_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 0.10022064952013952,
 'windvar_var_bool_wind_min_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 0.10048393132617923,
 'windvar_var_cleaned_wind_min_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 9.374527975566874,
 'windvar_var_cleaned_wind_min_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 9.625209194117705,
 'windvar_var_cleaned_wind_min_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 9.933320811383517,
 'windvar_var_cleaned_wind_max_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 14.164488023277181,
 'windvar_var_cleaned_wind_max_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 14.182186767469496,
 'windvar_var_cleaned_wind_max_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 14.324463928495243}

In [277]:
windvar_mae

{'windvar_var_bool_wind_max_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 0.019785575927235188,
 'windvar_var_bool_wind_min_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 0.022035739440470933,
 'windvar_var_bool_wind_max_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 0.024089613184332847,
 'windvar_var_bool_wind_max_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 0.025124221411533653,
 'windvar_var_bool_wind_min_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 0.02881853569764644,
 'windvar_var_bool_wind_min_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 0.03125630172435194,
 'windvar_var_cleaned_wind_max_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 2.4315174643695356,
 'windvar_var_cleaned_wind_min_var_set8_w12_b32_d2_rate0.3_unit50_train5000': 3.1904089391231536,
 'windvar_var_cleaned_wind_min_var_set8_w24_b32_d2_rate0.3_unit50_train5000': 4.159665642976761,
 'windvar_var_cleaned_wind_min_var_set8_w6_b32_d2_rate0.3_unit50_train5000': 5.043737258911133}

In [ ]:
# Create pred_degree, pred_speed,pred_vis, pred_air, etc

In [ ]:
data = metar_dict_test_1['metar_df']['air_pressure'].values
time_steps = 24
selected_model = Air_Pressure_Results[f'set2_window{time_steps}']['model']
propagation_steps = 12
next_val = get_next_value(selected_model, time_steps, data, rounding = True )

In [ ]:
# Choose several sets of models to drive the pred things

# decide the correct input

In [ ]:
# each model set is comprised of the following 8 Predictions
1. Wind Degree [Need to improve prediction]
2. Wind Speed [acceptable]
3. Visibility Distance [acceptable]
4. Cloud Type (average over how many layers there are) [need to work on]
5. Cloud Height (average of how many layers there are) [Seems okay]
6. Temperature [acceptable]
7. Dew [acceptable]
8ã€‚Air Pressure [acceptable]

In [ ]:
# simply pick 1 out of each model just for comparison sake and getting pipeline running

In [ ]:
# Benchmark comparison on MAE and RMSE results of the 5 model sets

In [132]:
 dataset_1['cloud_1_type_set2_window3'].keys()

dict_keys(['model', 'x_train', 'y_train', 'dataset_train', 'dataset_test', 'dataset_total', 'y_pred', 'y_pred_scaled', 'x_test', 'rmse'])

In [90]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 24
# metar_dict_test_1_24 = DC.get_metar_prediction_input(txt_filepath,window_length) # row 57159 to 57182
# metar_dict_test_2_24 = DC.get_metar_prediction_input(txt_filepath,window_length) # row 48846 to 48869
metar_dict_test_3_24 = DC.get_metar_prediction_input(txt_filepath,window_length) # row 47968 to 47991
metar_dict_test_4_24 = DC.get_metar_prediction_input(txt_filepath,window_length) # row 47968 to 47991

The data contains a total of : 89590 rows
The randomly selected sequence is from row 1638 to 1661
Input Data is now parsed
The data contains a total of : 89590 rows
The randomly selected sequence is from row 3865 to 3888
Input Data is now parsed

Index(['hour', 'minutes', 'wind_speed', 'wind_degrees', 'wind_min_var',
       'wind_max_var', 'vis_distance', 'temperature', 'dew', 'air_pressure'],
      dtype='object')

In [184]:

def pred_n_cloud(input_df,time_steps,selected_model):
  
    return next_val[0][0]

def pred_cloud_type(input_df,time_steps,selected_model):
    
    return next_val[0][0]

def pred_windvar(input_df,time_steps,selected_model):
    
    return next_val[0][0]

In [53]:
metar_dict_test_1_24['metar_df'].keys()

Index(['year', 'month', 'day', 'hour', 'minutes', 'wind_speed', 'wind_degrees',
       'wind_min_var', 'wind_max_var', 'vis_distance', 'temperature', 'dew',
       'air_pressure', 'n_cloud_layers', 'cloud_layer_1_height',
       'cloud_layer_1_type', 'cloud_layer_2_height', 'cloud_layer_2_type',
       'cloud_layer_3_height', 'cloud_layer_3_type', 'cloud_layer_4_height',
       'cloud_layer_4_type'],
      dtype='object')

In [54]:
def pred_next_metar(input_df,time_steps,model_dict):
    target_list = ['wind_speed', 'wind_degrees', 'wind_min_var', 'wind_max_var', 'vis_distance',
                   'n_cloud_layers','cloud_layer_1_height', 'cloud_layer_1_type',
                   'cloud_layer_2_height', 'cloud_layer_2_type', 'cloud_layer_3_height',
                   'cloud_layer_3_type', 'cloud_layer_4_height', 'cloud_layer_4_type',
                   'temperature', 'dew', 'air_pressure']
    result_dict = {}
    for t in target_list :
        input_data = input_df[t]
        data = input_data.values
        selected_model = model_dict[t]
        next_val = ML.get_next_value(selected_model, time_steps, data, rounding = True )
        result = {t:next_val[0][0]}
        result_dict.update(result)
    return result_dict

In [188]:
input_df

,hour,minutes,wind_speed,wind_degrees,wind_min_var,wind_max_var,vis_distance,temperature,dew,air_pressure
0,7,53,8,130.0,0,0,9.00,26,23,1013
1,8,53,5,120.0,0,0,10.00,26,23,1013
2,9,53,3,120.0,0,0,10.00,26,23,1013
3,10,53,3,130.0,0,0,10.00,26,23,1013
4,11,53,0,0.0,0,0,10.00,27,24,1014
5,12,53,5,200.0,0,0,10.00,29,25,1014
6,13,53,8,220.0,0,0,10.00,31,24,1015
7,14,53,8,260.0,0,0,10.00,29,23,1015
8,15,53,7,230.0,0,0,10.00,31,23,1015
9,16,53,5,107.0,0,0,0.75,27,23,1015
10,17,53,6,80.0,0,0,10.00,29,24,1014
11,19,53,3,10.0,0,0,8.00,26,23,1014
12,20,53,4,180.0,0,0,3.00,26,23,1014
13,21,53,5,230.0,0,0,9.00,26,23,1014
14,22,53,0,0.0,0,0,10.00,26,22,1014
15,23,53,6,170.0,0,0,10.00,26,23,1015
16,0,53,3,230.0,0,0,10.00,26,23,1015
17,1,53,4,100.0,0,0,8.00,26,23,1015
18,2,53,3,130.0,0,0,10.00,25,23,1016
19,3,53,0,0.0,0,0,10.00,26,23,1016
20,4,53,0,0.0,0,0,10.00,26,24,1016
21,5,53,0,0.0,0,0,10.00,27,24,1015
22,6,53,0,0.0,0,0,10.00,26,24,1015

In [81]:
model_dict_1 = {'wind_speed':dataset_wind['wind_speed_set1_w6_b8_d2_rate0.2_unit50']['model'], 
              'wind_degrees':dataset_wind['wind_degree_set1_w6_b16_d4_rate0.2_unit50']['model'], 
              'min_var_bool':dataset_windvar['windvar_var_bool_wind_min_var_set8_w6_b32_d2_rate0.3_unit50_train5000']['model'],
              'max_var_bool':dataset_windvar['windvar_var_bool_wind_max_var_set8_w6_b32_d2_rate0.3_unit50_train5000']['model'],
              'wind_min_var':dataset_windvar['windvar_var_cleaned_wind_min_var_set8_w6_b32_d2_rate0.3_unit50_train5000']['model'],
              'wind_max_var':dataset_windvar['windvar_var_cleaned_wind_max_var_set8_w6_b32_d2_rate0.3_unit50_train5000']['model'],
              'vis_distance':dataset_vis['visibility_set4_w6_b16_d2_rate0.2_unit80_train2000']['model'], 
              'n_cloud_layers':dataset_unsorted['cloud_layers_set1_window6']['model'],
              'cloud_layer_1_type':dataset_cloud['cloud_type_layer_1_set7_w6_b32_d2_rate0.3_unit50_train5000']['model'],
              'cloud_layer_1_height':dataset_cloud['cloud_layer_1_set6_w6_b32_d2_rate0.2_unit50_train5000']['model'],
              'cloud_layer_2_type':dataset_cloud['cloud_type_layer_2_set7_w6_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_2_height':dataset_cloud['cloud_layer_2_set6_w6_b32_d2_rate0.2_unit50_train5000']['model'],
               'cloud_layer_3_type':dataset_cloud['cloud_type_layer_3_set7_w6_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_3_height':dataset_cloud['cloud_layer_3_set6_w6_b32_d2_rate0.2_unit50_train5000']['model'],
               'cloud_layer_4_type':dataset_cloud['cloud_type_layer_4_set7_w6_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_4_height':dataset_cloud['cloud_layer_3_set6_w6_b32_d2_rate0.2_unit50_train5000']['model'],
              'temperature':dataset_temp['temperature_set4_w6_b16_d2_rate0.2_unit80_train2000']['model'], 
              'dew':dataset_dew['dew_set4_w6_b16_d2_rate0.2_unit80_train5000']['model'], 
              'air_pressure':dataset_air['air_pressure_set4_w6_b16_d2_rate0.2_unit80_train5000']['model'],}

In [271]:
file_path = '../results/model/Model_Set_1.pkl' 

# Save the dictionary into a binary file using pickle
with open(file_path, 'wb') as file:
    pickle.dump(model_dict_1, file)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/Model_Set_1.pkl.

In [1]:
import gzip

In [4]:
model_dict_1 = load_dict('../results/model/Model_Set_1.pkl')

2024-02-20 09:47:46.382063: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [5]:
file_path = '../results/model/Model_Set_1.pkl.gz' 

# Save the dictionary into a binary file using pickle
with gzip.open(file_path, 'wb') as file:
    pickle.dump(model_dict_1, file)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/Model_Set_1.pkl.gz.

In [321]:
model_dict_3 = {'wind_speed':dataset_unsorted['wind_speed_set2_window24']['model'], 
              'wind_degrees':dataset_unsorted['wind_degree_set2_window24']['model'], 
              'min_var_bool':dataset_windvar['windvar_var_bool_wind_min_var_set8_w24_b32_d2_rate0.3_unit50_train5000']['model'],
              'max_var_bool':dataset_windvar['windvar_var_bool_wind_max_var_set8_w24_b32_d2_rate0.3_unit50_train5000']['model'],
              'wind_min_var':dataset_windvar['windvar_var_cleaned_wind_min_var_set8_w24_b32_d2_rate0.3_unit50_train5000']['model'],
              'wind_max_var':dataset_windvar['windvar_var_cleaned_wind_max_var_set8_w24_b32_d2_rate0.3_unit50_train5000']['model'],
              'n_cloud_layers':dataset_unsorted['cloud_layers_set2_window24']['model'],
              'cloud_layer_1_type':dataset_cloud['cloud_type_layer_1_set7_w24_b32_d2_rate0.3_unit50_train5000']['model'],
              'cloud_layer_1_height':dataset_cloud['cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train5000']['model'],
              'cloud_layer_2_type':dataset_cloud['cloud_type_layer_2_set7_w24_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_2_height':dataset_cloud['cloud_layer_2_set6_w24_b32_d2_rate0.2_unit50_train1000']['model'],
               'cloud_layer_3_type':dataset_cloud['cloud_type_layer_3_set7_w24_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_3_height':dataset_cloud['cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train5000']['model'],
               'cloud_layer_4_type':dataset_cloud['cloud_type_layer_4_set7_w24_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_4_height':dataset_cloud['cloud_layer_1_set6_w24_b32_d2_rate0.2_unit50_train5000']['model'],
              'temperature':dataset_unsorted['temperature_set2_window24']['model'], 
              'dew':dataset_unsorted['dew_set2_window24']['model'], 
              'air_pressure':dataset_unsorted['air_pressure_set3_window24']['model'],
               'vis_distance':dataset_vis['visibility_set5_w24_b32_d2_rate0.3_unit50_train5000']['model'], }

In [322]:
file_path = '../results/model/Model_Set_3.pkl' 

# Save the dictionary into a binary file using pickle
with open(file_path, 'wb') as file:
    pickle.dump(model_dict_3, file)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/Model_Set_3.pkl.

In [304]:
model_dict_2 = {'wind_speed':dataset_unsorted['wind_speed_set2_window12']['model'], 
              'wind_degrees':dataset_unsorted['wind_degree_set2_window12']['model'], 
              'min_var_bool':dataset_windvar['windvar_var_bool_wind_min_var_set8_w12_b32_d2_rate0.3_unit50_train5000']['model'],
              'max_var_bool':dataset_windvar['windvar_var_bool_wind_max_var_set8_w12_b32_d2_rate0.3_unit50_train5000']['model'],
              'wind_min_var':dataset_windvar['windvar_var_cleaned_wind_min_var_set8_w12_b32_d2_rate0.3_unit50_train5000']['model'],
              'wind_max_var':dataset_windvar['windvar_var_cleaned_wind_max_var_set8_w12_b32_d2_rate0.3_unit50_train5000']['model'],
              'n_cloud_layers':dataset_unsorted['cloud_layers_set2_window12']['model'],
              'cloud_layer_1_type':dataset_cloud['cloud_type_layer_1_set7_w12_b32_d2_rate0.3_unit50_train5000']['model'],
              'cloud_layer_1_height':dataset_cloud['cloud_layer_1_set6_w12_b32_d2_rate0.2_unit50_train5000']['model'],
              'cloud_layer_2_type':dataset_cloud['cloud_type_layer_2_set7_w12_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_2_height':dataset_cloud['cloud_layer_2_set6_w12_b32_d2_rate0.2_unit50_train5000']['model'],
               'cloud_layer_3_type':dataset_cloud['cloud_type_layer_3_set7_w12_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_3_height':dataset_cloud['cloud_layer_3_set6_w12_b32_d2_rate0.2_unit50_train5000']['model'],
               'cloud_layer_4_type':dataset_cloud['cloud_type_layer_4_set7_w12_b32_d2_rate0.3_unit50_train5000']['model'],
               'cloud_layer_4_height':dataset_cloud['cloud_layer_3_set6_w12_b32_d2_rate0.2_unit50_train5000']['model'],
              'temperature':dataset_unsorted['temperature_set2_window12']['model'], 
              'dew':dataset_unsorted['dew_set2_window12']['model'], 
              'air_pressure':dataset_unsorted['air_pressure_set3_window12']['model'],
               'vis_distance':dataset_vis['visibility_set5_w12_b32_d2_rate0.3_unit50_train5000']['model'], }

In [6]:
file_path = '../results/model/Model_Set_1_compressed.pkl' 

# Save the dictionary into a binary file using pickle
with open(file_path, 'wb') as file:
    pickle.dump(model_dict_1, file, protocol=pickle.HIGHEST_PROTOCOL)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/Model_Set_1_compressed.pkl.

In [76]:
the_df = metar_dict_test_1_24['metar_df']
input_df = the_df[:-1] # To check for final answer
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1
############################################
predicted_METAR_df = ML.pred_next_metar(input_df,time_steps,model_dict)

1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 32ms/step
1/1 [==============================] - 0s 36ms/step
1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 43ms/step
1/1 [==============================] - 1s 981ms/step
1/1 [==============================] - 1s 1s/step
WARNING:tensorflow:5 out of the last 21 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f19b5fa8a60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 983ms/step
1/1 [==============================] - 0s 16ms/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 975ms/step
1/1 [==============================] - 1s 1s/step

{'wind_speed': 8,
 'wind_degrees': 72,
 'wind_min_var': 0,
 'wind_max_var': 0,
 'vis_distance': 10,
 'n_cloud_layers': 3,
 'cloud_layer_1_height': 2284,
 'cloud_layer_1_type': 1,
 'cloud_layer_2_height': 9503,
 'cloud_layer_2_type': 2,
 'cloud_layer_3_height': 14980,
 'cloud_layer_3_type': 4,
 'cloud_layer_4_height': 18432,
 'cloud_layer_4_type': 4,
 'temperature': 28,
 'dew': 23,
 'air_pressure': 1015}

In [85]:
the_df = metar_dict_test_2_24['metar_df']
input_df = the_df[:-1] # To check for final answer
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1
############################################
predicted_METAR_df_2 = ML.pred_next_metar(input_df,time_steps,model_dict)

1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 18ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 19ms/step

In [86]:
predicted_METAR_df_2

,wind_speed,wind_degrees,wind_min_var,wind_max_var,vis_distance,n_cloud_layers,cloud_layer_1_height,cloud_layer_1_type,cloud_layer_2_height,cloud_layer_2_type,cloud_layer_3_height,cloud_layer_3_type,cloud_layer_4_height,cloud_layer_4_type,temperature,dew,air_pressure
0,9,175,4,3,11,1,19793,2,8134,0,5903,1,4264,0,26,21,1008

In [87]:
print('Correct Answers is :')
the_df[-1:]

Correct Answers is :

,year,month,day,hour,minutes,wind_speed,wind_degrees,wind_min_var,wind_max_var,vis_distance,...,air_pressure,n_cloud_layers,cloud_layer_1_height,cloud_layer_1_type,cloud_layer_2_height,cloud_layer_2_type,cloud_layer_3_height,cloud_layer_3_type,cloud_layer_4_height,cloud_layer_4_type
23,2020,2,7,4,53,14,200,0.0,0.0,10.0,...,1009,1,25000,5,0,0,0,0,0,0

In [173]:
the_df = metar_dict_test_3_24['metar_df']
input_df = the_df[:-1] # Data aside from last row is given as input, last row is reserved to check for answer
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1
############################################
predicted_METAR_df_3 = ML.pred_next_metar(input_df,time_steps,model_dict)

In [152]:
hour = input_df[-1:].reset_index([0]).hour
hour[0]

6

In [176]:
input = the_df
row = 23
metar_output = ML.print_metar(input,row)
print(metar_output)

METAR KMIA 120753Z 20003KT 10SM BKN060 23/19 A2985

In [174]:
input = predicted_METAR_df_3
row = 0
metar_output = ML.print_metar(input,row)
print(metar_output)

METAR KMIA 120753Z 15005KT 10SM FEW040 23/19 A2988

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:372: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = int(input.loc[row,'hour'])
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = int(input.loc[row,'minutes'])

In [95]:
print('Correct Answers is :')
the_df[-1:]

Correct Answers is :

23    19
Name: dew, dtype: int64

In [237]:
input = metar_dict_test_1_24['metar_df']
row = 23
metar_output = ML.print_metar(input,row)

the corresponding metar formatted data for the given input is:
METAR KMIA 41253Z 12008KT 10SM FEW250 24/19 A3012

In [108]:
a = int(round_to_nearest_ten(predicted_METAR_df_3.loc[[0],'wind_min_var'])[0])
a

0

In [110]:
b = 0
if a & b ==0 :
    print('False')

False

In [96]:
def round_to_nearest_ten(n):
    return round(n / 10) * 10

In [193]:
#using METAR_pred Pipeline perform 10 predictions and create a DataFrame for answer, and for all the the prediction

1/1 [==============================] - 0s 32ms/step
The next value in the given sequence is 1
predicted wind speed : 1
1/1 [==============================] - 0s 20ms/step
The next value in the given sequence is 49
predicted wind degrees : 49
Correct Answers is :
    hour  minutes  wind_speed  wind_degrees  wind_min_var  wind_max_var  \
23     7       53           3         220.0             0             0

    vis_distance  temperature  dew  air_pressure
23          10.0           27   24          1015

## Deployment

In [183]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 12 # data window length (need to be > time steps of model)
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1 # model used for prediction
n_deploy = 10

In [184]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 12 # data window length (need to be > time steps of model)
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1 # model used for prediction
n_deploy = 10
deployment_df, raw_METAR_dict =deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False)

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:373: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  day = day_format(int(input.loc[row,'day']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:374: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  hour = day_format(int(input.loc[row,'hour']))
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:375: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  minutes = day_format(int(input.loc[row,'minutes']))

In [190]:
deployment_df['Predicted METAR']

0    METAR KMIA 010153Z 14005KT 10SM SCT160 27/23 A...
1    METAR KMIA 072353Z 13008KT 10SM SCT210 27/18 A...
2    METAR KMIA 281953Z 10002KT 10SM SCT180 29/24 A...
3    METAR KMIA 282153Z 22005KT 10SM SCT210 32/27 A...
4    METAR KMIA 241353Z 33005KT 10SM FEW040 16/12 A...
5    METAR KMIA 192153Z 16012KT 010V010 10SM BKN090...
6    METAR KMIA 030253Z 12004KT 10SM SCT240 29/24 A...
7    METAR KMIA 112053Z 11006KT 10SM SCT220 27/19 A...
8    METAR KMIA 231053Z 14003KT 10SM SCT090 27/24 A...
9    METAR KMIA 190253Z 12006KT 10SM NSC100 29/23 A...
Name: Predicted METAR, dtype: object

In [191]:
deployment_df['Reported METAR']

0    METAR KMIA 010132Z 00000KT 10SM OVC070 27/23 A...
1    METAR KMIA 062353Z 13008KT 10SM SCT250 25/19 A...
2    METAR KMIA 281953Z 17003KT 10SM OVC250 29/25 A...
3    METAR KMIA 282116Z 16007KT 10SM BKN250 32/25 A...
4    METAR KMIA 241353Z 33005KT 10SM FEW050 20/14 A...
5    METAR KMIA 192153Z 19011KT 10SM SCT080 28/21 A...
6    METAR KMIA 030253Z 11006KT 10SM BKN250 28/25 A...
7    METAR KMIA 112053Z 07010KT 10SM FEW250 27/20 A...
8    METAR KMIA 231053Z 35003KT 10SM BKN250 27/24 A...
9    METAR KMIA 190253Z 16003KT 10SM FEW020 29/23 A...
Name: Reported METAR, dtype: object

In [187]:
raw_METAR_dict.keys()

dict_keys([0, '0_answer_df', 1, '1_answer_df', 2, '2_answer_df', 3, '3_answer_df', 4, '4_answer_df', 5, '5_answer_df', 6, '6_answer_df', 7, '7_answer_df', 8, '8_answer_df', 9, '9_answer_df'])

In [188]:
raw_METAR_dict[0]

,year,month,day,hour,minutes,wind_speed,wind_degrees,wind_min_var,wind_max_var,vis_distance,...,cloud_layer_1_type,cloud_layer_2_height,cloud_layer_2_type,cloud_layer_3_height,cloud_layer_3_type,cloud_layer_4_height,cloud_layer_4_type,temperature,dew,air_pressure
0,"0 2022 Name: year, dtype: int32","0 12 Name: month, dtype: int32","0 1 Name: day, dtype: int32","0 1 Name: hour, dtype: int64","10 53 Name: minutes, dtype: int64",5,139,0,0,11,...,1,7963,3,16037,4,19938,2,27,23,1019

In [189]:
raw_METAR_dict['0_answer_df']

,year,month,day,hour,minutes,wind_speed,wind_degrees,wind_min_var,wind_max_var,vis_distance,...,air_pressure,n_cloud_layers,cloud_layer_1_height,cloud_layer_1_type,cloud_layer_2_height,cloud_layer_2_type,cloud_layer_3_height,cloud_layer_3_type,cloud_layer_4_height,cloud_layer_4_type
11,2022,12,1,1,32,0,0,0,0,10.0,...,1019,3,2000,5,3300,5,7000,8,0,0

In [197]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 24 # data window length (need to be > time steps of model)
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1 # model used for prediction
n_deploy = 10
deployment_df_2, raw_METAR_dict_2 =deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False)
score_df_2 = get_assessment_score(deployment_df_2,raw_METAR_dict_2)

In [245]:
score_df_2 = get_assessment_score(deployment_df_2,raw_METAR_dict_2)

In [286]:
score_df_2.mean().values # 10 deployment

array([54.61591575, 74.32264957, 87.        , 48.44908142, 95.06743451,
       97.39495798, 99.97054932, 73.85311379])

In [198]:
deployment_df_2

,Predicted METAR,Reported METAR
0,METAR KMIA 050353Z 12005KT 5SM SCT100 23/21 A3012,METAR KMIA 050353Z 06006KT 10SM SCT050 23/21 A...
1,METAR KMIA 060653Z 04002KT 10SM SCT040 26/22 A...,METAR KMIA 060653Z 12003KT 10SM BKN060 24/22 A...
2,METAR KMIA 082253Z 10008KT 10SM SCT060 25/18 A...,METAR KMIA 082253Z 07009KT 10SM SCT060 24/17 A...
3,METAR KMIA 150553Z 08001KT 10SM SCT200 27/23 A...,METAR KMIA 150553Z 25003KT 10SM BKN250 26/23 A...
4,METAR KMIA 242253Z 12009KT 10SM SCT210 32/24 A...,METAR KMIA 242253Z 13008KT 10SM BKN250 31/24 A...
5,METAR KMIA 052353Z 22009KT 10SM SCT230 31/18 A...,METAR KMIA 042353Z 26006KT 10SM FEW250 28/17 A...
6,METAR KMIA 151053Z 31008KT 030V010 10SM SCT210...,METAR KMIA 151053Z 32009KT 10SM BKN250 14/7 A3006
7,METAR KMIA 162353Z 09011KT 10SM SCT230 31/23 A...,METAR KMIA 152353Z 07013KT 10SM SCT250 29/23 A...
8,METAR KMIA 140553Z 10007KT 10SM SCT050 21/12 A...,METAR KMIA 140553Z 05005KT 10SM FEW050 20/12 A...
9,METAR KMIA 052253Z 08011KT 10SM SCT050 23/12 A...,METAR KMIA 052253Z 06011KT 10SM FEW050 23/12 A...

In [244]:
# Protocol to assess performance 
def get_score(pred_df,answer_df,p_index,a_index, prop):
    """ Getting accuracy score for a single property
    """
    s1 = pred_df[prop][p_index]
    s2 = answer_df[prop][a_index]
    s_diff = np.abs((s1-s2)/s2)
    score = (1-s_diff) *100
    return score
def get_assessment_score(deployment_df,raw_METAR_dict):
    """
    Model assessment score across 8 dimensions.
    """
    degree_list = []
    speed_list = []
    vis_list = []
    cloud_list = []
    temp_list =[]
    dew_list = []
    air_list = []
    sim_list = []
    for i in range(len(deployment_df)):
        ## get_single assessment score for every data
        pred_df =raw_METAR_dict[i]
        p_index = pred_df.index[0] # contain only 1 line of data.
        answer_df = raw_METAR_dict[f'{i}_answer_df']
        a_index = answer_df.index[0] # contain only 1 line of data.

        # Wind Degree 
        prop = 'wind_degrees'
        degree_score = get_score(pred_df,answer_df,p_index,a_index, prop)

        # Wind Speed
        prop = 'wind_speed'
        speed_score = get_score(pred_df,answer_df,p_index,a_index, prop)
        

        # Visibility
        prop = 'vis_distance'
        vis_score = get_score(pred_df,answer_df,p_index,a_index, prop)

        #Cloud Coverage # assess on the first layer of cloud only , assuming the accuracy for upper layer (if any) is similar
        prop = 'cloud_layer_1_type'
        s1 = pred_df[prop][p_index]
        s2 = answer_df[prop][a_index]
        if s1 == s2 :
            cloud_score_1 = 100
        else:
            cloud_score_1 = 50

        prop = 'n_cloud_layers'
        s1 = pred_df[prop][p_index]
        s2 = answer_df[prop][a_index]
        if s1 == s2 :
            cloud_score_2 = 100
        else:
            cloud_score_2 = 50
        
        # cloud height of layer 1
        prop = 'cloud_layer_1_height'
        cloud_score_3 = get_score(pred_df,answer_df,p_index,a_index, prop)
        
        # overall cloud score
        cloud_score = (cloud_score_1 + cloud_score_2 + cloud_score_3) /3
        

        #Temperature
        prop = 'temperature'
        temp_score = get_score(pred_df,answer_df,p_index,a_index, prop)

        #Dew
        prop = 'dew'
        dew_score = get_score(pred_df,answer_df,p_index,a_index, prop)

        #Air Pressure
        prop = 'air_pressure'
        air_score = get_score(pred_df,answer_df,p_index,a_index, prop)
        
        
        ###String Similarity
        str1 = deployment_df['Predicted METAR'][i][19:] # excluding the timestamp
        str2 = deployment_df['Reported METAR'][i][19:] 
        ratio = fuzz.ratio(str1, str2)
        similarity = jaccard_similarity(str1, str2) * 100
        string_sim = (ratio + similarity) / 2
        
        assessment_result = [degree_score,speed_score,vis_score,cloud_score,temp_score,dew_score,air_score,string_sim]
        degree_list.append(degree_score)
        speed_list.append(speed_score)
        vis_list.append(vis_score)
        cloud_list.append(cloud_score)
        temp_list.append(temp_score)
        dew_list.append(dew_score)
        air_list.append(air_score)
        sim_list.append(string_sim)
            
    assessment_df = pd.DataFrame(
                    {'Wind Degree':degree_list ,
                     'Wind Speed':speed_list, 
                     'Visibility': vis_list,
                    'Cloud Coverage':cloud_list, 
                     'Temperature':temp_list, 
                     'Dew':dew_list, 
                     'Air Pressure':air_list,
                     'String Similarity':sim_list,
                    })
    return assessment_df

def jaccard_similarity(str1, str2):
    set1, set2 = set(str1), set(str2)
    return len(set1 & set2) / len(set1 | set2)

In [ ]:
def deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False):
    """
    Deploying METAR Prediction for n_deploy number of deployments. 
    Specify start_index to use exactly a specific starting index, this can only be useful for n_deploy = 1
    return deployment_df, predicted_METAR_dict
    
    """
    predicted_METAR_dict={}
    pred_METAR_list = []
    answer_METAR_list = []
    for i in range(n_deploy):
        data_input_for_prediction = DC.get_metar_prediction_input(txt_filepath,window_length,start_index=start_index)
        the_df = data_input_for_prediction['metar_df']
        input_df = the_df[:-1] # Left out the last datapoint for list_of_answers
        ############################################
        predicted_METAR_df = ML.pred_next_metar(input_df,time_steps,model_dict)
    
        new_data= {i:predicted_METAR_df,
                   f'{i}_answer_df':the_df[-1:]}
        predicted_METAR_dict.update(new_data)
    
        metar_output = ML.print_metar(predicted_METAR_df,row=0) # contain only a single row of next-hour data
        answer_row = window_length - 1
        metar_answer = ML.print_metar(the_df,row=answer_row) # the next_row after input_df
        pred_METAR_list.append(metar_output)
        answer_METAR_list.append(metar_answer)
    deployment_df = pd.DataFrame({
        'Predicted METAR': pred_METAR_list,
        'Reported METAR': answer_METAR_list, 
    })
    return deployment_df, predicted_METAR_dict

In [208]:
str1 = deployment_df_2['Predicted METAR'][0][19:] # excluding the timestamp
str2 = deployment_df_2['Reported METAR'][0][19:]

In [347]:
input_df

,year,month,day,hour,minutes,wind_speed,wind_degrees,wind_min_var,wind_max_var,vis_distance,...,air_pressure,n_cloud_layers,cloud_layer_1_height,cloud_layer_1_type,cloud_layer_2_height,cloud_layer_2_type,cloud_layer_3_height,cloud_layer_3_type,cloud_layer_4_height,cloud_layer_4_type
0,2014,3,11,8,53,0,0.0,0.0,0.0,10.0,...,1014,1,3000,1,0,0,0,0,0,0
1,2014,3,11,9,53,0,0.0,0.0,0.0,10.0,...,1014,1,3000,1,0,0,0,0,0,0
2,2014,3,11,10,53,3,40.0,0.0,0.0,10.0,...,1015,1,3500,1,0,0,0,0,0,0
3,2014,3,11,11,53,0,0.0,0.0,0.0,10.0,...,1015,2,3000,1,25000,1,0,0,0,0
4,2014,3,11,12,53,0,0.0,0.0,0.0,10.0,...,1015,2,2500,1,25000,1,0,0,0,0
5,2014,3,11,13,53,0,0.0,0.0,0.0,10.0,...,1015,1,2000,1,0,0,0,0,0,0
6,2014,3,11,14,53,3,57.0,0.0,0.0,10.0,...,1015,1,3000,1,0,0,0,0,0,0
7,2014,3,11,15,53,6,103.0,0.0,0.0,10.0,...,1015,1,3400,2,0,0,0,0,0,0
8,2014,3,11,16,53,9,170.0,140.0,210.0,10.0,...,1014,1,3600,2,0,0,0,0,0,0
9,2014,3,11,17,53,10,140.0,0.0,0.0,10.0,...,1013,1,3600,2,0,0,0,0,0,0
10,2014,3,11,18,53,11,130.0,0.0,0.0,10.0,...,1013,1,4000,2,0,0,0,0,0,0
11,2014,3,11,19,53,12,140.0,0.0,0.0,10.0,...,1012,1,4000,1,0,0,0,0,0,0
12,2014,3,11,20,53,10,150.0,0.0,0.0,10.0,...,1012,1,3400,1,0,0,0,0,0,0
13,2014,3,11,21,53,13,130.0,0.0,0.0,10.0,...,1011,1,3200,1,0,0,0,0,0,0
14,2014,3,11,22,53,10,140.0,0.0,0.0,10.0,...,1012,1,3200,1,0,0,0,0,0,0
15,2014,3,11,23,53,9,140.0,0.0,0.0,10.0,...,1012,1,2400,1,0,0,0,0,0,0
16,2014,3,12,0,53,7,160.0,0.0,0.0,10.0,...,1013,1,2200,1,0,0,0,0,0,0
17,2014,3,12,1,53,7,170.0,0.0,0.0,10.0,...,1013,1,2200,1,0,0,0,0,0,0
18,2014,3,12,2,53,4,160.0,0.0,0.0,10.0,...,1013,1,2200,1,0,0,0,0,0,0
19,2014,3,12,3,53,5,150.0,0.0,0.0,10.0,...,1013,1,2600,1,0,0,0,0,0,0
20,2014,3,12,4,53,5,170.0,0.0,0.0,10.0,...,1012,1,2500,1,0,0,0,0,0,0
21,2014,3,12,5,53,5,180.0,0.0,0.0,10.0,...,1012,2,1500,1,2500,2,0,0,0,0
22,2014,3,12,6,53,5,190.0,0.0,0.0,10.0,...,1011,2,2500,1,9500,2,0,0,0,0

In [224]:
raw_METAR_dict_2[0].wind_degrees

TypeError: 'numpy.ndarray' object is not callable

In [236]:
raw_METAR_dict_2['0_answer_df'].columns

Index(['year', 'month', 'day', 'hour', 'minutes', 'wind_speed', 'wind_degrees',
       'wind_min_var', 'wind_max_var', 'vis_distance', 'temperature', 'dew',
       'air_pressure', 'n_cloud_layers', 'cloud_layer_1_height',
       'cloud_layer_1_type', 'cloud_layer_2_height', 'cloud_layer_2_type',
       'cloud_layer_3_height', 'cloud_layer_3_type', 'cloud_layer_4_height',
       'cloud_layer_4_type'],
      dtype='object')

In [210]:
from fuzzywuzzy import fuzz

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [211]:
# Ratio of similarity

print(ratio)  # Closer to 100 means more similar

82

0.9285714285714286

In [341]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 24 # data window length (need to be > time steps of model)
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1 # model used for prediction
n_deploy = 100
deployment_df_3, raw_METAR_dict_3 =ML.deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False)
score_df_3 = ML.get_assessment_score(deployment_df_3,raw_METAR_dict_3)

Problematic data at index 21: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
No Wind Detail info found on index 6, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
Problematic data at index 1: invalid literal for int() with base 10: 'KM'
Problematic data at index 3: invalid literal for int() with base 10: 'KM'
Problematic data at index 7: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
Problematic data at index 20: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
Problematic data at index 2: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
Problematic data at index 18: invalid literal for int() with base 10: 'KM'
Problematic data at index 20: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
Problematic data at index 16: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
Problematic data at index 2: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
No Wind Detail info found on index 0, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 14, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 18, 'NoneType' object has no attribute 'speed' >>> Setting data as 0

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:543: RuntimeWarning: divide by zero encountered in scalar divide
  score = (1-s_diff) *100

In [342]:
score_df_3.to_csv('../results/model/model_1_score.csv')
deployment_df_3.to_csv('../results/model/model_1_string.csv')
file_path = '../results/model/model_1_raw_dict.pkl' 

# Save the dictionary into a binary file using pickle
with open(file_path, 'wb') as file:
    pickle.dump(raw_METAR_dict_3, file)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/model_1_raw_dict.pkl.

In [343]:
score_df_3.mean().values

array([38.90097353, 66.99044975, 89.82222222, 73.68947646, 95.35746096,
       95.71314093, 99.93707207, 72.85879645])

In [268]:
score_df_5.to_csv('../results/score_df_5.csv')

In [269]:
score_df_3.mean().values

array([66.01617126, 69.37298061, 89.32698413, 68.40991304, 95.18546152,
       93.30539099, 99.93711077, 73.51735685])

In [261]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 24 # data window length (need to be > time steps of model)
time_steps =  6 # Need to match the model window size
model_dict = model_dict_1 # model used for prediction
n_deploy = 10
deployment_df_5, raw_METAR_dict_5 =ML.deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False)
score_df_5 = ML.get_assessment_score(deployment_df_5,raw_METAR_dict_5)

No Wind Detail info found on index 5, 'NoneType' object has no attribute 'speed' >>> Setting data as 0

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:542: RuntimeWarning: divide by zero encountered in scalar divide
  s_diff = np.abs((s1-s2)/s2)

In [270]:
score_df_5.mean().values

array([79.35019608, 57.14285714, 92.57142857, 74.5471115 , 95.63696265,
       97.33226773, 99.93099537, 75.16132845])

In [346]:
raw_METAR_dict_5.keys()

dict_keys([0, '0_answer_df', 1, '1_answer_df', 2, '2_answer_df', 3, '3_answer_df', 4, '4_answer_df', 5, '5_answer_df', 6, '6_answer_df', 7, '7_answer_df', 8, '8_answer_df', 9, '9_answer_df'])

In [323]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 24 # data window length (need to be > time steps of model)
time_steps =  12 # Need to match the model window size
model_dict = model_dict_2 # model used for prediction
n_deploy = 100
deployment_df_4, raw_METAR_dict_4 =ML.deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False)
score_df_4 = ML.get_assessment_score(deployment_df_4,raw_METAR_dict_4)
score_df_4.to_csv('../results/score_df_4.csv')

No Wind Detail info found on index 9, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 2, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 12, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 6, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
Problematic data at index 6: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:543: RuntimeWarning: divide by zero encountered in scalar divide
  score = (1-s_diff) *100
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:543: RuntimeWarning: invalid value encountered in scalar divide
  score = (1-s_diff) *100

In [325]:
score_df_4.mean().values

array([56.77227775, 68.22052158, 92.30714286, 72.48428112, 95.10615987,
       94.37645512, 99.9202859 , 74.16957395])

In [345]:
score_df_6.to_csv('../results/model/model_3_score.csv')
deployment_df_6.to_csv('../results/model/model_3_string.csv')
file_path = '../results/model/model_3_raw_dict.pkl' 

# Save the dictionary into a binary file using pickle
with open(file_path, 'wb') as file:
    pickle.dump(raw_METAR_dict_6, file)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/model_3_raw_dict.pkl.

In [344]:
score_df_4.to_csv('../results/model/model_2_score.csv')
deployment_df_4.to_csv('../results/model/model_2_string.csv')
file_path = '../results/model/model_2_raw_dict.pkl' 

# Save the dictionary into a binary file using pickle
with open(file_path, 'wb') as file:
    pickle.dump(raw_METAR_dict_4, file)
print(f"The data has been saved to {file_path}.")

The data has been saved to ../results/model/model_2_raw_dict.pkl.

In [326]:
# Deployment test:
txt_filepath = '../dataset/METAR_Data.txt'
window_length = 36 # data window length (need to be > time steps of model)
time_steps =  24 # Need to match the model window size
model_dict = model_dict_3 # model used for prediction
n_deploy = 100
deployment_df_6, raw_METAR_dict_6 =ML.deploy_METAR_prediction(txt_filepath, window_length, time_steps,model_dict, n_deploy,start_index=False)
score_df_6 = ML.get_assessment_score(deployment_df_6,raw_METAR_dict_6)
score_df_6.to_csv('../results/score_df_6.csv')

Problematic data at index 19: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
No Wind Detail info found on index 17, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 20, 'NoneType' object has no attribute 'speed' >>> Setting data as 0
No Wind Detail info found on index 5, 'NoneType' object has no attribute 'speed' >>> Setting data as 0

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:329: RuntimeWarning: invalid value encountered in cast
  predicted_value = np.round(scaled_prediction).astype(int)

Problematic data at index 6: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
Problematic data at index 24: invalid literal for int() with base 10: 'KM'
The extracted sequence contained irregularities, re-extracting data sequence ...
Input Data is now parsed
No Wind Detail info found on index 12, 'NoneType' object has no attribute 'speed' >>> Setting data as 0

/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:543: RuntimeWarning: divide by zero encountered in scalar divide
  score = (1-s_diff) *100
/home/Lakehouse/DreamBrookPy/DreamBrookPy/MachineLearning.py:543: RuntimeWarning: invalid value encountered in scalar divide
  score = (1-s_diff) *100

In [329]:
score_df_6.mean().values

array([ 2.74700287e+01,  6.52286200e+01,  8.21134921e+01, -1.33672059e+15,
        9.54229044e+01,  9.57193668e+01,  9.99223016e+01,  7.23585341e+01])

In [333]:
for i in range(20):
    print(deployment_df_3['Predicted METAR'][i])

METAR KMIA 021653Z 09002KT 10SM SCT240 33/24 A3003
METAR KMIA 261753Z 27006KT 10SM SCT210 13/1 A3020
METAR KMIA 171053Z 16003KT 10SM SCT140 22/22 A2994
METAR KMIA 040853Z 13008KT 10SM FEW030 29/24 A2994
METAR KMIA 231553Z 08011KT 10SM SCT030 27/17 A3023
METAR KMIA 162053Z 09011KT 10SM BKN200 24/17 A3009
METAR KMIA 131453Z 06014KT 10SM BKN200 29/22 A3000
METAR KMIA 280153Z 15011KT 10SM SCT060 22/12 A3000
METAR KMIA 050553Z 24008KT 10SM SCT230 28/24 A2994
METAR KMIA 211953Z 09010KT 10SM SCT050 28/18 A3020
METAR KMIA 040553Z 22004KT 10SM SCT040 23/17 A3020
METAR KMIA 140653Z 09008KT 10SM FEW190 23/17 A3000
METAR KMIA 211053Z 10005KT 10SM SCT210 28/24 A2997
METAR KMIA 110553Z 03008KT 10SM BKN110 19/18 A2997
METAR KMIA 202453Z 04002KT 10SM SCT120 26/23 A2991
METAR KMIA 130453Z 09011KT 6SM BKN150 26/23 A3006
METAR KMIA 280653Z 28009KT 7SM BKN030 15/16 A2976
METAR KMIA 310253Z 23007KT 10SM SCT220 16/5 A3017
METAR KMIA 291653Z 09003KT 10SM FEW040 32/22 A3006
METAR KMIA 171053Z 09010KT 8SM BKN140 26/23 A2997

In [334]:
for i in range(20):
    print(deployment_df_3['Reported METAR'][i])

METAR KMIA 021653Z 08008KT 10SM BKN250 33/24 A3003
METAR KMIA 261753Z 34005KT 10SM SCT250 15/4 A3012
METAR KMIA 171053Z 21003KT 7SM NSC 22/22 A2997
METAR KMIA 040853Z 10004KT 10SM FEW030 28/24 A2994
METAR KMIA 231553Z 06009KT 020V100 10SM BKN040 26/16 A3023
METAR KMIA 162053Z 05009KT 10SM BKN250 24/17 A3012
METAR KMIA 131453Z 09015KT 10SM BKN250 29/22 A3003
METAR KMIA 280153Z 34009KT 10SM FEW040 20/13 A3006
METAR KMIA 050553Z 25007KT 10SM BKN250 28/24 A2994
METAR KMIA 211953Z 08011KT 10SM BKN040 29/18 A3017
METAR KMIA 040553Z 35003KT 10SM FEW050 22/17 A3017
METAR KMIA 140653Z 00000KT 10SM SCT250 23/18 A2997
METAR KMIA 211053Z 09003KT 10SM BKN250 28/24 A3000
METAR KMIA 110553Z 10012KT 10SM OVC130 23/19 A2994
METAR KMIA 210053Z 29003KT 10SM BKN250 25/23 A2994
METAR KMIA 130453Z 08007KT 10SM SCT250 26/23 A3003
METAR KMIA 280653Z 33011KT 6SM OVC030 13/13 A2976
METAR KMIA 310253Z 35006KT 10SM BKN250 16/6 A3020
METAR KMIA 291653Z 00000KT 10SM BKN060 33/21 A3006
METAR KMIA 171053Z 15004KT 10SM OVC200 27/24 A3000

In [335]:
for i in range(10):
    print(deployment_df_2['Predicted METAR'][i])

METAR KMIA 050353Z 12005KT 5SM SCT100 23/21 A3012
METAR KMIA 060653Z 04002KT 10SM SCT040 26/22 A2991
METAR KMIA 082253Z 10008KT 10SM SCT060 25/18 A3015
METAR KMIA 150553Z 08001KT 10SM SCT200 27/23 A3000
METAR KMIA 242253Z 12009KT 10SM SCT210 32/24 A2994
METAR KMIA 052353Z 22009KT 10SM SCT230 31/18 A2994
METAR KMIA 151053Z 31008KT 030V010 10SM SCT210 13/8 A3006
METAR KMIA 162353Z 09011KT 10SM SCT230 31/23 A3006
METAR KMIA 140553Z 10007KT 10SM SCT050 21/12 A3026
METAR KMIA 052253Z 08011KT 10SM SCT050 23/12 A3009

In [336]:
for i in range(10):
    print(deployment_df_2['Reported METAR'][i])

METAR KMIA 050353Z 06006KT 10SM SCT050 23/21 A3012
METAR KMIA 060653Z 12003KT 10SM BKN060 24/22 A2991
METAR KMIA 082253Z 07009KT 10SM SCT060 24/17 A3015
METAR KMIA 150553Z 25003KT 10SM BKN250 26/23 A3000
METAR KMIA 242253Z 13008KT 10SM BKN250 31/24 A2994
METAR KMIA 042353Z 26006KT 10SM FEW250 28/17 A2997
METAR KMIA 151053Z 32009KT 10SM BKN250 14/7 A3006
METAR KMIA 152353Z 07013KT 10SM SCT250 29/23 A3003
METAR KMIA 140553Z 05005KT 10SM FEW050 20/12 A3023
METAR KMIA 052253Z 06011KT 10SM FEW050 23/12 A3009

In [337]:
for i in range(10):
    print(deployment_df['Reported METAR'][i])

METAR KMIA 010132Z 00000KT 10SM OVC070 27/23 A3009
METAR KMIA 062353Z 13008KT 10SM SCT250 25/19 A2994
METAR KMIA 281953Z 17003KT 10SM OVC250 29/25 A3006
METAR KMIA 282116Z 16007KT 10SM BKN250 32/25 A2979
METAR KMIA 241353Z 33005KT 10SM FEW050 20/14 A3017
METAR KMIA 192153Z 19011KT 10SM SCT080 28/21 A3000
METAR KMIA 030253Z 11006KT 10SM BKN250 28/25 A3012
METAR KMIA 112053Z 07010KT 10SM FEW250 27/20 A3000
METAR KMIA 231053Z 35003KT 10SM BKN250 27/24 A2988
METAR KMIA 190253Z 16003KT 10SM FEW020 29/23 A3000

In [338]:
for i in range(10):
    print(deployment_df['Predicted METAR'][i])

METAR KMIA 010153Z 14005KT 10SM SCT160 27/23 A3009
METAR KMIA 072353Z 13008KT 10SM SCT210 27/18 A2994
METAR KMIA 281953Z 10002KT 10SM SCT180 29/24 A3006
METAR KMIA 282153Z 22005KT 10SM SCT210 32/27 A2979
METAR KMIA 241353Z 33005KT 10SM FEW040 16/12 A3012
METAR KMIA 192153Z 16012KT 010V010 10SM BKN090 28/22 A3000
METAR KMIA 030253Z 12004KT 10SM SCT240 29/24 A3009
METAR KMIA 112053Z 11006KT 10SM SCT220 27/19 A3000
METAR KMIA 231053Z 14003KT 10SM SCT090 27/24 A2985
METAR KMIA 190253Z 12006KT 10SM NSC100 29/23 A3000

In [339]:
raw_METAR_data

NameError: name 'raw_METAR_data' is not defined

In [2]:
def load_dict(filepath):
    with open(filepath, 'rb') as file:
        filedict = pickle.load(file)
    return filedict

In [3]:
import pickle

In [ ]:
# Load Model 
model_dict_1 = load_dict('../results/model/Model_Set_1.pkl')
def load_dict(filepath):
    with open(filepath, 'rb') as file:
        filedict = pickle.load(file)
    return filedict